body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.loader {
    display: inline-block;
    animation: spin 2s linear infinite;
}

.loader img {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
